.review {
    margin-top: 80px;
}

.reviewContainer {
    margin: 0 auto;
    padding-bottom: 180px;
    max-width: 1640px;
}

.reviewTitle h1 {
    text-transform: uppercase;
    font-size: 64px;
    font-weight: bold;
    margin: 9% 26% 2%;
    font-family: "ALS Gorizont Expanded";
}

.reviewCard {
    margin: 0 -40px;
    width: 94%;
    border-right: 1px solid gray;
}

.reviewBlock {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.reviewTitleCard {
    padding: 15px 20px;
}

.reviewTitleCard p {
    margin: 0;
    font-weight: normal;
    font-size: 19px;
}

.reviewText {
    margin: 33px 8px;
}

.reviewBlock .companyImg {
    width: 120px;
}

.reviewParameters {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    display: flex;
}

.reviewParameters h3 {
    font-size: 21px;
    font-weight: 600;
}

.reviewParameters p {
    font-size: 15px;
    color: #6002FD;
}

@media screen and (max-width: 650px) {
    .reviewTitleCard h1 {
        font-size: 14px;
    }
    .reviewParameters {
        display: flex;
        font-size: 13px;
    }
    .reviewTitle {
        position: absolute;
        margin: -40% -5%;
    }
    .reviewTitle h1 {
        font-size: 30px;
    }
    .reviewParameters {
        font-size: 13px;
    }
    .reviewTime:last-child {
        margin-left: 15px;
    }
    .reviewCard {
        margin: 0 -40px;
        width: 94%;
        border: 1px solid gray;
    }
    .review {
        margin-top: 230px;
    }
    .review_items_title h1 {
        font-size: 18px;
        font-weight: 600;
        color: gray;
        width: 39%;
        margin-bottom: 17%;
    }
    .reviewImg {
        width: 50px;
    }
    .reviewTime {
        display: flex;
    }
    .reviewText h3,
    .reviewText p {
        font-size: 14px;
    }
    .companyImg{
        margin: 0 10px 10px
    }
    .slick-dots li {
        width: auto;
    }
}