.casePage_blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.casePage_block {
    width: 48%;
    height: 500px;
    margin-top: 60px;
}

.casePage_text h2{
    color: #fff;
    font-family: 'ALS Gorizont Bold Expanded';
    font-size: 18px;
    font-weight: 700;
}
.casePage_text p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}