.cases_heading_block {
    width: 77%;
    float: right;
}
.casesBlock {
    display: flex;
    justify-content: space-between;
}
.cases_heading {
    height: 700px;
    background: #01579B;
}
.cases_text {
    margin-top: 120px;
}
.cases_text h1{
    color: #fff;
}
.cases_text p{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
.cases_btn button {
    color: #fff;
    border-color: #fff;
}
.cases_block {
    border-top: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.cases_buttons {
    margin-top: 5%;
}
.cases_buttons button {
    width: auto;
    height: 39px;
    background: #fff;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 30px;
    margin-right: 10px;
    padding: 0 20px
}
.cases_block a {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-decoration: underline;
    line-height: 9;
}
.case_logo {
    margin-top: 17%;
}