.text_block {
    margin: 122px 327px;
}
.text_block h1 {
    margin: 0;
}

@media screen and (max-width: 1300px) {
    .text_block {
        margin: 122px 241px;
    }
}

@media screen and (max-width: 1160px) {
    .text_block {
        margin: 41px 0 41px 232px;
    }
    .text_block h1 {
        font-size: 48px;
    }
}

@media screen and (max-width: 900px) {
    .text_block {
        margin-left: 180px;
    }
    .text_block h1 {
        font-size: 36px;
    }
    .text_block {
        margin-top: 22px
    }
}

@media screen and (max-width: 600px) {
    .text_block {
        margin: 30px 0;
        line-height: 1.2;
    }
    .text_block h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 500px) {

}