.text_block {
    margin: 122px 327px;
}
.text_block h1 {
    margin: 0;
}

@media screen and (max-width: 1025px) {
    .text_block {
        margin-left: 240px;
    }
}

@media screen and (max-width: 880px) {
    .text_block {
        margin-left: 180px;
    }
}


@media screen and (max-width: 600px) {
    .text {
        margin-top: 240px
    }
    .text_block {
        margin: 0;
        line-height: 1.2;
    }
}