.box {
    margin-top: 47px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr 1fr;
    height: 660px;
    border: 1px solid #000;
}
.grid-item {
    text-align: center;
    position: relative;
}
.grid-item:hover{
    background: #6002FD;
}
.grid-item:hover.grid-item:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 20px solid white;
    border-right: 20px solid #6002FD;
}
.grid-item img {
    width: 250px;
    height: 60px;
    margin-top: 40%;
}
.one, .two, .three, .four, .five, .six {
    position: relative;
    display: inline-block;
}
.grid-item .img-top, .img-text {
    display: none;
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 99;
}
.grid-item.three:hover .img-top,
.grid-item.four:hover .img-top {
    left: 206px;
}
.bold {
    font-weight: bold;
}
.grid-item:hover .img-top {
    display: inline;
    margin: 93px 0;
}
.grid-item:hover .img-text {
    display: block;
    color: #fff;
}
.grid-item.one:hover .img-text {
    margin: 190px 45px;
}
.grid-item.two:hover .img-text {
    margin: 190px 25px;
}
.grid-item.three:hover .img-text,
.grid-item.four:hover .img-text {
    margin: 190px 185px;
}
.grid-item.five:hover .img-text {
    margin: 190px 78px;
}
.grid-item.six:hover .img-text {
    margin: 190px 25px;
}
.grid-item:hover .img-initial {
    opacity: 0.009;
}
.grid-item.two:hover .boxTech {
    margin: 190px 80px;
}
.grid-item.three:hover .boxTech {
    margin: 190px 250px;
}
.grid-item.four:hover .boxTech {
    margin: 190px 240px;
}
.grid-item.five:hover .boxTech {
    margin: 190px -3px;
}
.grid-item.six:hover .boxTech {
    margin: 190px 35px;
}
.grid-item.three img,
.grid-item.four img {
    margin-top: 20%;
}
.one:after, .two:after, .five:after, .six:after {
    content: " ";
    width: 92%;
    position: absolute;
    top: 100%;
    height: 1px;
    background: #000;
    margin-left: -84%;
}
.five:after, .six:after {
    top: 0;
}
.one:before, .two:before, .five:before{
    content: " ";
    height: 94%;
    position: absolute;
    top: 2%;
    width: 1px;
    background: #000;
    left: 100%;
}
.five:before {
    height: 92%;
    top: 6%
}
.four:before{
    content: " ";
    height: 92%;
    position: absolute;
    top: 6%;
    width: 1px;
    background: #000;
    left: 100%;
}
.three {
    grid-column-start: 3;
    grid-column-end: 5;
}
.four, .tech-four{
    grid-column-start: 1;
    grid-column-end: 3;
}
.box_title {
    display: flex;
    padding: 85px 0 63px;
}
.box_title h3 {
    width: 34%;
}

@media (max-width: 1024px) {
    .underline::after {
        width: 27%;
        margin-left: -24%;
    }
    .vertical_line::before{
        height: 90px;
        margin-top: -3%;
        margin-left: -7.8%;
    }
    .grid-container {
        height: 472px;
    }
    .grid-item img {
        width: 135px;
        height: 50px;
        margin-top: 40%;
    }
    .grid-item:hover .img-top {
        display: inline;
        margin: 50px 15px;
    }
    .grid-item.three:hover .img-top,
    .grid-item.four:hover .img-top {
        margin: 50px -27px!important;
    }
    .one:after, .two:after, .five:after, .six:after {
        margin-left: -74%;
    }
    .grid-item.one:hover .img-text {
        margin: 120px 12px;
    }
    .grid-item.two:hover .img-text {
        margin: 120px 0;
    }
    .grid-item.three:hover .img-text,
    .grid-item.four:hover .img-text {
        margin: 120px 125px;
    }
    .grid-item.five:hover .img-text {
        margin: 120px 40px;
    }
    .grid-item.six:hover .img-text {
        margin: 120px 0;
    }
    .grid-item.two:hover .boxTech {
        margin: 120px 40px;
    }
    .grid-item.three:hover .boxTech {
        margin: 120px 170px;
    }
    .grid-item.four:hover .boxTech {
        margin: 120px 160px;
    }
    .grid-item.five:hover .boxTech {
        margin: 120px 0 0 -30px;
    }
    .grid-item.six:hover .boxTech {
        margin: 120px 0 0 5px;
    }
}

@media (max-width: 768px) {
    .grid-container {
        height: 360px;
    }
    .one:after, .two:after, .five:after, .six:after {
        margin-left: -68%;
    }
    .grid-item img {
        width: 80px;
        height: 40px;
        margin-top: 40%;
    }
    .grid-item:hover.grid-item:before{
        border-top: 10px solid white;
        border-right: 10px solid #6002FD;
    }
    .grid-item .img-top {
        margin: 40px 11px!important;
    }
    .grid-item.one:hover .img-text {
        margin: 90px -10px;
    }
    .grid-item.two:hover .img-text {
        margin: 90px -18px;
    }
    .grid-item.three:hover .img-text,
    .grid-item.four:hover .img-text {
        margin: 100px 75px;
    }
    .grid-item.three:hover .img-top,
    .grid-item.four:hover .img-top {
        margin: 50px -57px!important;
    }
    .grid-item.five:hover .img-text {
        margin: 90px 15px;
    }
    .grid-item.six:hover .img-text {
        margin: 90px -23px;
    }
    .box_title {
        padding: 70px 0 30px;
    }
    .grid-item.two:hover .boxTech {
        margin: 90px 20px;
    }
    .grid-item.three:hover .boxTech {
        margin: 100px 120px;
    }
    .grid-item.four:hover .boxTech {
        margin: 100px 110px;
    }
    .grid-item.five:hover .boxTech {
        margin: 90px 0 0 -40px;
    }
    .grid-item.six:hover .boxTech {
        margin: 90px 0 0 -15px;
    }
}
