.box {
    margin-top: 60px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr 1fr;
    height: 660px;
    border: 1px solid #000;
}
.grid-item {
    text-align: center;
}
.grid-item img {
    width: 250px;
    height: 60px;
    margin-top: 40%;
}
.grid-item.three img,
.grid-item.four img {
    margin-top: 20%;
}
.one:after, .two:after,
.five:after, .six:after{
    content: " ";
    width: 23%;
    position: absolute;
    top: 50%;
    height: 1px;
    background: #000;
    margin-left: -21%;
}
.one:before, .two:before {
    content: " ";
    height: 46%;
    position: absolute;
    top: 2%;
    width: 1px;
    background: #000;
    margin-left: 22%;
}
.five:before {
    content: " ";
    height: 46%;
    position: absolute;
    top: 52%;
    width: 1px;
    background: #000;
    margin-left: 22%;
}
.four:before{
    content: " ";
    height: 46%;
    position: absolute;
    top: 52%;
    width: 1px;
    background: #000;
    margin-left: 34.5%;
}
.three {
    grid-column-start: 3;
    grid-column-end: 5;
}
.four, .tech-four{
    grid-column-start: 1;
    grid-column-end: 3;
}

/*box-tech styles*/

.box_title {
    display: flex;
    padding: 5% 0 ;
}
.box_title h3 {
    font-size: 24px;
    font-weight: 500;
    color: gray;
    width: 35%;
}

@media (max-width: 1294px) {
    .underline::after {
        margin-left: -25%;
        width: 27%;
    }
}

@media (max-width: 1025px) {
    .underline::after {
        width: 27%;
        margin-left: -24%;
    }
    .vertical_line::before{
        height: 90px;
        margin-top: -3%;
        margin-left: -7.8%;
    }
}

@media (max-width: 880px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "one two"
        "three four"
        "five six";
    }
    .grid-item img {
        width: 100px;
        height: 60px;
        margin-top: 40%;
    }
    .one {
        grid-area: one;
    }
    .two {
        grid-area: two;
    }
    .three {
        grid-area: three;
    }
    .four {
        grid-area: four;
    }
    .five {
        grid-area: five;
    }
    .six {
        grid-area: six;
    }
    .one:after, .two:after{
        content: " ";
        width: 43%;
        position: absolute;
        top: 35%;
        height: 1px;
        background: #000 ;
        margin-left: -36%;
    }
    .three:after, .four:after{
        content: " ";
        width: 43%;
        position: absolute;
        top: 65%;
        height: 1px;
        background: #000 ;
        margin-left: -36%;
    }
    .one:before {
        content: " ";
        height: 31%;
        position: absolute;
        top: 2%;
        width: 1px;
        background: #000;
        margin-left: 40%;
    }
    .two:before, .five:after, .six:after {
        display: none;
    }
    .four:before {
        content: " ";
        height: 27%;
        position: absolute;
        top: 37%;
        width: 1px;
        background: #000;
        margin-left: -10%;
    }
    .five:before {
        content: " ";
        height: 31%;
        position: absolute;
        top: 67%;
        width: 1px;
        background: #000;
        margin-left: 40%;
    }
    .box_title h3 {
        font-size: 18px;
        width: 70%;
        font-weight: 700;
    }
    .box_title {
        padding: 10% 0 ;
    }
}