footer {
    bottom: 0;
    width: 100%;
    height: auto;
    background: #000;
    margin-top: 200px;
}

.footer_items {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.circle button {
    width: 270px;
    height: 270px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: transparent;
}
.circle button:hover {

}
.footer_content {
    width: 75%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_item {
    border-top: 1px solid #fff;
    width: 465px
}

.footer_item h3 {
    font-size: 30px;
    color: #fff!important;
    margin-top: 28px;
    opacity: initial;
}

.footer_item ul {
    padding: 0;
    margin-bottom: 56px;
}

.footer_item ul li a,
.footer_item ul li {
    list-style-type: none;
    color: #9a9a9a;
    font-size: 16px;
    font-weight: 600;
    line-height: 2.5;
}

.line {
    width: 100%;
    border-top: 1px solid #fff;
    margin-top: 30px;
}

.footer_text_security {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    margin-top: 24px;
    line-height: 1;
}
.security_text {
    padding: 20px 0;
}

.message_button {
    width: 80px;
    height: 80px;
    background: #6002FD;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 7%;
}

.message_button img {
    width: 32px;
    height: 28px;
    margin: 30px 24px;
}

@media (max-width: 1300px) {
    .footer_item {
        width: 47%
    }
    .circle button {
        width: 220px;
        height: 220px;
    }
}

@media (max-width: 1024px) {
    .footer_item {
        width: 48%
    }
    .circle button {
        width: 196px;
        height: 196px;
    }
    .footer_item ul li {
        font-size: 14px;
    }
    .footer_item h3 {
        font-size: 24px;
    }
    .security_text p {
        font-size: 17px;
    }
}

@media (max-width: 900px) {
    .footer_item {
        width: 48%;
        height: 179px;
    }
    .circle button {
        width: 160px;
        height: 160px;
    }
    .footer_item ul li {
        font-size: 14px;
        line-height: 2;
    }
    .footer_item h3 {
        font-size: 18px;
        margin-top: 15px;
    }
    .security_text p {
        font-size: 14px;
    }
    .line{
        margin-top: -10px;
    }
}

@media (max-width: 650px) {
    footer {
        height: auto;
        margin-top: 100px;
    }
    .footer_items,
    .footer_content {
        display: block;
        margin: 0;
    }
    .footer_item,
    .footer_content {
        width: 100%;
    }
    .circle {
        margin: 40px 0;
    }
    .circle button {
        width: 160px;
        height: 160px;
        font-size: 14px
    }
    .footer_item ul li {
        font-size: 14px;
        line-height: 3;
    }
    .footer_item h3 {
        font-size: 18px;
    }
    .footer_item ul {
        margin-bottom: 10px;
    }
    .security_text p {
        font-size: 14px;
    }
    .message_button {
        width: 80px;
        height: 80px;
        bottom: 30px;
        right: 7%;
    }
    .message_button img {
        width: 32px;
        height: 30px;
        margin: 28px 24px;
    }
    .security_text {
        margin: 40px 0;
    }
}