.askAnswer {
    width: 77%;
    float: right;
    margin-top: 190px;
}

.askAnswerBlock {
    display: none;
}

.askAnswerBlock.show {
    display: block;
    width: 76%;
    margin: 15px auto;
    font-size: 17px;
}

.ask_heading h2{
    font-size: 64px;
    line-height: 1.4;
    font-weight: bold;
    font-family: "ALS Gorizont Expanded";
    text-transform: uppercase;
    width: 35%;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #6002FD;
}

.askButtonAnswer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    background: none;
    border-top: 1px solid #7C7C7C;
    border-bottom: none;
    border-left: none;
    border-right: none;
    font-size: 40px;
    color: #334059;
    line-height: 2.5;
}
.askButtonAnswer img {
    width: 65px;
    margin: 17px 0;
}

.askAnswer:last-of-type {
    border-bottom: 1px solid #7C7C7C!important;
}

@media (max-width: 1294px) {
    .askAnswer {
        width: 78%
    }
    .askButtonAnswer {
        font-size: 27px;
        line-height: 3;
    }
    .askButtonAnswer img {
        margin: 13px 0;
    }
}

@media (max-width: 1025px) {
    .askButtonAnswer {
        font-size: 20px;
    }
    .askButtonAnswer img {
        margin: 13px 0;
        width: 40px;
    }
}


@media (max-width: 600px) {
    .askAnswer {
        width: 100%;
        margin-top: 97px;
    }
    .askButtonAnswer {
        font-size: 18px;
        line-height: 1.3;
        padding: 10px 0;
        font-weight: 400;
    }
    .askButtonAnswer img {
        margin: 10px 0;
        width: 30px;
    }
    .ask_heading h2{
        font-size: 30px;
    }

}