.clients_block {
    margin-top: 110px;
}

.clients_block {
    display: flex;
}

.block_title {
    width: 23%;
}

.block_title h3{
    font-size: 24px;
    color: gray;
    line-height: 3;
}

.block_text {
    width: 65%;
}

.block_text p {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.4;
}

.studio_heading {
    margin-top: 187px;
}

.studio_heading h2 {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.4;
    font-family: "ALS Gorizont Expanded";
    text-transform: uppercase;
    margin-left: 23%;
    width: 30%;
}

.count {
    display: flex;
    justify-content: space-between;
    float: right;
    width: 77%;
    margin-top: 68px;
}

.clients_count {
    display: flex;
    width: 47%;
    border-top: 1px solid gray;
}

.clients_count h1 {
    color: #6002FD;
    font-family: "ALS Gorizont Expanded";
    font-size: 100px;
    margin: 30px 0;
}
.clients_count p {
    text-transform: uppercase;
    margin: 20% 8%;
}


@media (max-width: 1294px) {
    .block_title {
        width: 22%;
    }
    .studio_heading h2 {
        font-size: 50px;
        margin-left: 22%;
    }
}

@media (max-width: 1025px) {
    .block_title {
        width: 30%;
    }
    .block_text p {
        font-size: 23px;
    }
    .studio_heading h2 {
        font-size: 50px;
        margin-left: 22%;
    }
}

@media (max-width: 880px) {
    .studio_heading {
        margin-top: 110px;
    }
    .clients_block {
        margin-top: 50px;
    }
    .block_title h3{
        font-size: 17px;
    }
    .block_text p {
        font-size: 16px;
    }
    .clients_count h1 {
        font-size: 60px;
    }
    .clients_count p {
        font-size: 10px;
        margin: 28% 6%;
    }
    .block_title {
        width: 27%;
    }
    .studio_heading h2 {
        font-size: 50px;
        margin-left: 26%;
    }
}

@media (max-width: 735px) {
    .block_title {
        width: 25%;
    }
}

@media (max-width: 630px) {
    .block_title {
        width: 23%;
    }
    .studio_heading h2 {
        font-size: 25px;
        margin-left: 23%;
    }
}

@media (max-width: 481px) {
    .clients_count h1 {
        font-size: 30px;
    }
    .clients_count p {
        font-size: 8px;
        margin: 28% 8%;
    }
    .block_title {
        width: 22%;
    }
    .block_title p {
        font-size: 11px;
    }
    .studio_heading h2 {
        font-size: 19px;
        margin-left: 23%;
    }
}