.clients_block {
    margin-top: 132px;
}

.clients_block,
.studio_item {
    display: flex;
}

.studio_item {
    margin-top: 52px;
}

.studio_title,
.block_title {
    width: 25%;
}

.block_text {
    width: 660px;
}

.block_text p {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.4;
}

.studio_heading {
    margin-top: 190px;
}

.count {
    display: flex;
    float: right;
    width: 75%;
    margin-top: 68px;
}

.clients_count {
    display: flex;
    width: 315px;
    border-top: 1px solid #000;
    margin-right: 60px;
}

.clients_count h1 {
    color: #6002FD;
    margin: 30px 0;
}

.clients_count p {
    margin: 60px 0 0 20px;
    font-weight: 500;
}

@media (max-width: 1294px) {
    .block_title {
        width: 22%;
    }

    .studio_heading h2 {
        font-size: 50px;
        margin-left: 22%;
    }
}

@media (max-width: 880px) {
    .clients_block {
        margin-top: 50px;
    }

    .block_text{
        margin-top: 30px;
    }
    .clients_text {
        display: none;
    }

    .studio_heading {
        margin-top: 90px;
    }

    .studio_heading h2 {
        font-size: 30px;
        margin: 0;
        width: 70%;
    }

    .studio_item {
        display: block;
    }

    .block_text {
        width: 100%;
    }

    .block_text p {
        font-size: 16px;
    }

    .studio_title {
        width: auto;
        margin-top: 20px;
    }

    .count {
        display: block;
        width: 100%;
        margin-top: 30px;
    }

    .clients_count {
        width: 100%;
    }

    .clients_count h1 {
        font-size: 48px;
        font-weight: bold;
        margin: 12px 0;
    }

    .clients_count p {
        font-size: 14px;
        font-weight: 700;
        margin: 10% 6%;
    }
}
