.clients_block {
    margin-top: 132px;
}

.clients_block,
.studio_item {
    display: flex;
}

.studio_item {
    margin-top: 52px;
}

.studio_title,
.block_title {
    width: 25%;
}

.block_text {
    width: 660px;
}

.block_text p {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.4;
}

.studio_heading {
    margin-top: 190px;
}

.count {
    float: right;
    width: 50%;
}

.clients_count_text {
    width: 330px;
    margin: 47px 0;
}

.clients_count {
    display: flex;
    width: 315px;
    border-top: 1px solid #000;
    margin-right: 60px;
}

.clients_count h1 {
    color: #6002FD;
    margin: 30px 0;
}

.clients_count p {
    margin: 60px 0 0 20px;
    font-weight: 500;
}

@media (max-width: 1160px) {
    .block_title {
        width: 22%;
    }

    .studio_heading h2 {
        font-size: 50px;
        margin-left: 25%;
    }
    .clients_block {
        margin-top: 74px;
    }
}

@media (max-width: 900px) {
    .clients_block {
        margin-top: 50px;
    }
    .block_text{
        margin-top: 30px;
    }
    .studio_heading {
        margin-top: 90px!important;
    }
    .studio_heading h2 {
        font-size: 36px;
        width: 70%;
    }
    .block_text, .clients_count {
        width: 100%;
    }
    .block_text p {
        font-size: 16px!important;
    }
    .studio_title {
        width: 33%;
        margin-top: 20px;
    }
    .count {
        width: 37%;
        margin: 20px 11% 0;
    }
    .clients_count h1 {
        font-size: 36px;
        margin: 17px 0;
    }
    .clients_count p {
        font-size: 14px;
        font-weight: 500;
        margin: 10% 6%;
    }
    .clients_count_text {
        width: 266px;
        margin: 0 0 25px 0;
    }
    .studio_item {
        margin-top: -10px
    }
    .clients_count_text p {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .clients_block {
        margin-top: 50px;
        display: block;
    }
    .studio_item {
        margin-top: -34px;
        display: block;
    }
    .block_text{
        margin-top: 20px;
    }
    .studio_heading {
        margin-top: 90px;
    }
    .studio_heading h2 {
        font-size: 30px;
        margin: 0;
        width: 70%;
    }
    .block_text p {
        width: 320px;
    }
    .studio_title {
        width: 100%;
        margin-top: 50px;
    }
    .count {
        width: 100%;
        margin: 20px 0;
    }
    .clients_count {
        width: 100%;
    }
    .clients_count h1 {
        font-size: 48px;
        font-weight: bold;
        margin: 12px 0;
    }
    .clients_count p {
        font-size: 14px;
        font-weight: 700;
        margin: 10% 6%;
    }
    .clients_count_text {
        width: 240px;
        float: right;
    }
}
