.contact {
    margin-top: 50px!important;
}
.contact_btn {
    position: absolute;
    top: 0;
    right: 0;
}
.contact_title h3{
    width: 54%;
    line-height: 1.4!important;
}
.contact_text {
    width: 58% !important;
}

.contact_count h1 {
    font-size: 38px!important;
    font-weight: 400;
    margin: 0!important;
}
.contact_count p {
    font-size: 16px!important;
    margin: 14px 0!important;
}
.contact_count {
    display: block!important;
}
.second_block {
    margin-top: 120px;
}
.address {
    width: 100% !important;
}

@media (max-width: 800px) {
    .contact {
        margin-top: 60px!important;
    }
    .contacts{
        margin-top: 2px!important;
    }
    .contact_text {
        width: 100% !important;
    }
    .contact_title h3{
        margin: 20px 0;
    }
    .second_block {
        margin-top: 80px;
    }
    .contact_count {
        margin: 30px 0;
    }
    .contact_count h1 {
        font-size: 18px!important;
    }
    .contact_count p {
        font-size: 12px!important;
        margin: 15px 0!important;
    }
}