.contact {
    margin-top: -35px!important;
}
.contacts {
    margin-top: 52px;
}
.contact_btn {
    position: absolute;
    top: 0;
    right: 0;
}
.contact_title h3{
    width: 54%;
    line-height: 1.4!important;
}
.contact_text {
    width: 58% !important;
}
.contact_count h5 {
    font-size: 30px!important;
    font-weight: 400;
    margin: 0!important;
    color: #6002FD;
}
.email {
    text-transform: uppercase;
}
.contact_count p {
    font-size: 16px!important;
    margin: 14px 0!important;
}
.contact_count {
    display: block!important;
    width: 418px!important;
}
.second_block {
    margin-top: 120px;
}
.address {
    margin-top: 72px;
}

@media (max-width: 1300px) {
    .contact_title h3 {
        font-size: 23px;
    }
}

@media (max-width: 1160px) {
    .contact_count h5 {
        font-size: 24px !important;
    }
    .email {
        text-transform: lowercase;
    }
    .contact_title h3 {
        font-size: 18px;
    }
    .contacts, .address {
        margin-top: 34px;
    }
    .contact_count {
        width: 354px!important;
    }
    .contact h2 {
        font-size: 48px!important;
    }
}

@media (max-width: 900px) {
    .contact_count{
        height: 107px;
    }
    .contact_count h5 {
        font-size: 18px !important;
    }
    .contact_title h3 {
        font-size: 16px;
    }
    .contact_count p {
        font-size: 14px!important;
    }
    .contact h2 {
        font-size: 36px!important;
        margin-left: 33%;
    }
    .contact_count {
        width: 270px!important;
    }
    .contact_text p {
        width: 377px!important;
    }
    .second_block {
        margin-top: 75px;
    }
}

@media (max-width: 700px) {
    .contact {
        margin-top: 60px!important;
    }
    .contacts{
        margin-top: 2px!important;
    }
    .contact_text {
        width: 100% !important;
    }
    .contact_title h3{
        margin: 26px 0 30px;
        font-size: 18px;
    }
    .second_block {
        margin-top: 5px;
    }
    .contact_count {
        margin: 30px 0;
    }
    .contact_count h1 {
        font-size: 18px!important;
    }
    .contact_count p {
        font-size: 12px!important;
        margin: 15px 0!important;
    }
    .contact h2 {
        margin-left: 0;
        font-size: 30px!important;
    }
    .clients_count {
        width: 100% !important;
    }
}

@media (max-width: 500px) {
    .contact_text p {
        width: 320px!important;
    }
}