.heading_block {
    display: flex;
    justify-content: end;
}

.heading_text {
    width: 60%;
    margin: 50px
}

.heading_text p {
    margin: 0 -110px;
}

.heading_text p.right {
    margin: 0;
}

.heading_text h1 {
    font-size: 64px;
    font-weight: bold;
    font-family: "ALS Gorizont Expanded";
    text-transform: uppercase;
    text-align: left;
    line-height: 1.2;
}

.heading_text span {
    color: #6002FD;
}

.heading_button button {
    width: 180px;
    height: 180px;
    border: 1px solid #000;
    border-radius: 100px;
    font-size: 16px;
    background: transparent;
    font-weight: bold;
}

.blocks {
    display: flex;
    justify-content: end;
}

.block {
    width: 22.7%;
    border-top: 1px solid gray;
    margin-left: 60px;
}

.block h4 {
    font-size: 30px;
    font-weight: bold;
    font-family: "ALS Gorizont Expanded";
    color: #6002FD;
    margin: 22px 0
}

.block p {
    width: 200px;
    line-height: 1.4;
}

@media (max-width: 1294px) {
    .logo img {
        width: 150px;
    }
    .heading_button button {
        width: 160px;
        height: 160px;
    }
    .heading_text {
        margin: 35px
    }
    .heading_text h1 {
        font-size: 50px;
    }
    .blocks {
        margin-left: 175px;
    }
    .block {
        width: 35%;
        margin-left: 50px;
    }
    .block h4 {
        font-size: 20px;
    }
    .block p {
        width: 150px;
        font-size: 13px;
    }
}

@media (max-width: 1025px) {
    .heading_text {
        padding-left: 8%;
    }
    .heading_text h1 {
        font-size: 30px;
        line-height: 1.2;
    }
    .heading_text p {
        margin: 0 -70px;
    }
    .heading_button button {
        width: 120px;
        height: 120px;
        font-size: 12px;
    }
    .blocks {
        margin-left: 24%;
    }
}

@media (max-width: 880px) {
    .logo img {
        width: 100px;
    }
    .heading_block {
        margin-top: 30px;
    }
    .heading_button button {
        width: 80px;
        height: 80px;
        font-size: 9px;
    }
    .heading_text {
        margin: 10px;
        padding: 0;
    }
    .heading_text p {
        margin: 0 -59px;
    }
    .heading_text h1 {
        font-size: 25px;
    }
    .blocks {
        margin-left: 45px;
        margin-top: 30px;
    }
    .block {
        width: 20.8%;
    }
    .block h4 {
        font-size: 11px;
        margin: 10px 0;
    }
    .block p {
        width: 72px;
        font-size: 9px;
    }
}

@media (max-width: 481px) {
    .heading_block {
        display: inline-block;
    }
    .heading_text {
        width: 75%;
        margin: 0
    }
    .heading_text p {
        margin: 0
    }
    .heading_text h1 {
        font-size: 30px;
    }
    .heading_button button {
        width: 160px;
        height: 160px;
        font-size: 14px;
        font-weight: 700;
        position: absolute;
        font-family: 'Manrope', sans-serif;
        margin: 340px 100px;

    }
    .blocks{
        width: 100%;
        margin: 20px 0;
        display: inline-block;
    }
    .block h4{
        font-size: 18px;
        width: 50%;
    }
    .block p{
        font-size: 14px;
        width: 50%;
    }
    .block {
        width: 100%;
        margin: 0;
        padding: 17px 0;
        border-top: 1px solid gray;
        display: flex;
    }
}