.heading_block {
    display: flex;
    justify-content: center;
}

.heading_text {
    width: 60%;
    margin: -5% 0 61px 10%
}
.heading_text h1, .heading_text h1.right {
    margin: 0;
}
.left {
    margin: 0 -110px!important;
}

span {
    color: #6002FD;
}

.blocks {
    width: 75%;
    float: right;
}

.block {
    border-top: 1px solid gray;
    display: flex;
}

.block h4 {
    color: #6002FD;
    margin: 22px 0;
    width: 330px;
}

.block p {
    width: 360px;
    margin: 25px 0;
}

@media (max-width: 1300px) {
    .heading_text h1 {
        font-size: 48px;
    }
}

@media (max-width: 1160px) {
    .block h4 {
        width: 236px;
    }
    .heading_text p {
        margin: 0 -70px;
    }
    .blocks {
        margin-left: 24%;
    }
    button {
        font-size: 14px!important;
    }
}

@media (max-width: 900px) {
    .heading_block {
        margin-top: 53px;
    }
    .heading {
        margin: 76px 0;
    }
    .heading_text {
        margin-bottom: 0;
    }
    .heading_text h1 {
        font-size: 36px;
    }
    .heading {
        margin: 57px 0;
    }
    .left {
        margin: 0!important;
    }
    .blocks {
        margin-top: 29px;
    }
}

@media (max-width: 600px) {
    .heading {
        margin: 76px 0;
    }
    .heading_text {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .heading_text h1 {
        font-size: 30px;
    }
    .heading_button button {
        width: 160px;
        height: 160px;
        border-radius: 100%;
        font-size: 14px;
        position: absolute;
        top: 644px;
        left: 85px;
    }
    .heading {
        margin: 57px 0;
    }
    .left {
        margin: 0!important;
    }
    .blocks {
        margin-top: 29px;
        width: 100%;
    }
    .block {
        display: block;
    }
    .block p {
        width: 239px;
        margin: -18px 0 13px 84px;
    }
}