.heading_block {
    display: flex;
    justify-content: flex-end;
}

.heading_text {
    width: 60%;
    margin: 60px 23px
}
.heading_text h1, .heading_text h1.right {
    margin: 0;
}
.left {
    margin: 0 -110px!important;
}

span {
    color: #6002FD;
}

.heading_button button {
    margin-top: -47px;
    width: 180px;
    height: 180px;
}

.blocks {
    width: 75%;
    float: right;
}

.block {
    border-top: 1px solid gray;
    display: flex;
}

.block h4 {
    color: #6002FD;
    margin: 22px 0;
    width: 330px;
}

.block p {
    width: 360px;
    margin: 25px 0;
}


@media not all and (min-resolution: .001dpcm) {
    @media {
        .heading_block {
            display: flex;
            justify-content: flex-end;
        }

        .blocks {
            display: flex;
            justify-content: flex-end;
        }

        .heading_text h1 {
            font-weight: 900;
        }
    }
}


@media (max-width: 1024px) {
    .heading_text {
        padding-left: 6.4%;
    }
    .block h4 {
        width: 236px;
    }
    .heading_text p {
        margin: 0 -70px;
    }
    .blocks {
        margin-left: 24%;
    }
    button {
        font-size: 14px!important;
    }
}


@media (max-width: 768px) {
    .heading {
        margin: 76px 0;
    }
    .heading_text {
        width: 75%;
        margin: 0;
        padding: 0;
    }
    .heading_text h1 {
        font-size: 36px;
    }
    .heading_button button {
        width: 165px;
        height: 40px;
        border-radius: 30px;
        font-size: 14px;
        position: absolute;
        top: -44px;
        left: 300px;
    }
    .heading {
        margin: 57px 0;
    }
    .left {
        margin: 0!important;
    }
    .blocks {
        margin-top: 29px;
    }
}

@media (max-width: 400px) {
    .heading {
        margin: 76px 0;
    }
    .heading_text {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .heading_text h1 {
        font-size: 30px;
    }
    .heading_button button {
        width: 160px;
        height: 160px;
        border-radius: 100%;
        font-size: 14px;
        position: absolute;
        top: 644px;
        left: 85px;
    }
    .heading {
        margin: 57px 0;
    }
    .left {
        margin: 0!important;
    }
    .blocks {
        margin-top: 29px;
        width: 100%;
    }
    .block {
        display: block;
    }
    .block p {
        width: 239px;
        margin: -18px 0 13px 84px;
    }
}