.heading_block {
    display: flex;
    justify-content: flex-end;
}

.heading_text {
    width: 60%;
    margin: 60px 23px
}
.heading_text h1, .heading_text h1.right {
    margin: 0;
}

.left {
    margin: 0 -110px!important;
}

span {
    color: #6002FD;
}

.heading_button button {
    margin-top: -47px;
    width: 180px;
    height: 180px;
}

.blocks {
    display: flex;
    justify-content: flex-end;
}

.block {
    width: 22.7%;
    border-top: 1px solid gray;
    margin-left: 44px;
}

.block h4 {
    color: #6002FD;
    margin: 22px 0
}

.block p {
    width: 160px;
    line-height: 1.4;
}


@media not all and (min-resolution: .001dpcm) {
    @media {
        .heading_block {
            display: flex;
            justify-content: flex-end;
        }

        .blocks {
            display: flex;
            justify-content: flex-end;
        }

        .heading_text h1 {
            font-weight: 900;
        }
    }
}

@media (max-width: 1294px) {
    .logo img {
        width: 150px;
    }

    .heading_button button {
        width: 160px;
        height: 160px;
    }

    .heading_text {
        margin: 35px
    }

    .heading_text h1 {
        font-size: 50px;
    }

    .blocks {
        margin-left: 175px;
    }

    .block {
        width: 35%;
        margin-left: 50px;
    }

    .block p {
        width: 150px;
    }
}

@media (max-width: 1025px) {
    .heading_text {
        padding-left: 8%;
    }

    .heading_text h1 {
        font-size: 30px;
        line-height: 1.2;
    }

    .heading_text p {
        margin: 0 -70px;
    }

    .blocks {
        margin-left: 24%;
    }
}


@media (max-width: 800px) {
    .heading {
        margin: 15% 0;
    }
    .heading_block {
        display: inline-block;
    }
    .heading_text {
        width: 75%;
        margin: 0;
        padding: 0;
    }

    .left {
        margin: 0
    }

    .heading_button button {
        position: absolute;
        font-family: 'Manrope', sans-serif;
        margin: 355px 89px;
    }

    .blocks {
        margin: 20px 0;
        display: inline-block;
        width: 100%;
    }

    .block h4, .block p {
        width: 50%;
    }

    .block {
        width: 100%;
        margin: 0;
        padding: 17px 0;
        border-top: 1px solid gray;
        display: flex;
    }
}