.heading {
    margin-bottom: 67px;
}

.projects_blocks {
    display: grid;
    grid-gap: 60px;
    color: #444;
}

.item {
    width: 500px;
    height: 400px
}

.a {
    grid-column: 1 / 3;
    grid-row: 1;
    background: #000;
    width: 760px;
    height: 400px;
}
.b {
    grid-column:  3;
    grid-row: 3 / 2;
    background: #000;
}
.c {
    grid-column: 2;
    grid-row: 2;
    background: #6002FD;
    width: 455px;
    height: 400px;
}

.d {
    grid-column: 3;
    grid-row: 1;
    background: #6002FD;
}

.heading h3{
    font-size: 24px;
    color: gray;
}

.item_text {
    color: #fff;
    width: 80%;
    margin: 0 auto;
    padding-top: 250px;
}

.item_text h2 {
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    font-family: "ALS Gorizont Expanded";
}

.show_more {
    margin-top: 80px;
}

.show_more .btn{
    width: 180px;
    height: 180px;
    border: 1px solid #000;
    border-radius: 100px;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    display: block;
    margin-left: 23%;
}


@media (max-width: 1294px) {
    .item {
        width: 420px;
        height: 350px
    }
    .a {
        width: 570px;
        height: 350px;
    }
    .c {
        width: 342px;
    }
    .item_text {
        padding-top: 220px;
    }
    .show_more .btn {
        width: 160px;
        height: 160px;
        margin-left: 21%;
    }
}

@media (max-width: 1025px) {
    .projects_blocks {
        grid-gap: 35px;
    }
    .item {
        width: 280px;
        height: 330px
    }
    .a {
        width: 503px;
        height: 330px;
    }
    .c {
        width: 262px;
    }
    .item_text {
        padding-top: 200px;
    }
    .show_more .btn {
        width: 120px;
        height: 120px;
        font-size: 12px;
        margin-left: 29%;
    }
}

@media (max-width: 880px) {
    .projects_blocks {
        grid-gap: 30px;
    }
    .item {
        width: 255px;
        height: 270px
    }
    .a {
        width: 395px;
        height: 270px;
    }
    .c {
        width: 212px;
    }
    .item_text {
        padding-top: 170px;
    }
    .item_text h2 {
        font-size: 15px;
    }
    .item_text p {
        font-size: 10px;
    }
    .heading h3{
        font-size: 18px;
    }
    .show_more .btn {
        width: 80px;
        height: 80px;
        font-size: 9px;
        margin-left: 27%
    }
}

@media (max-width: 735px) {
    .projects_blocks {
        grid-gap: 20px;
    }
    .item {
        width: 225px;
        height: 230px
    }
    .a {
        width: 340px;
        height: 230px;
    }
    .c {
        width: 195px;
    }
    .item_text {
        padding-top: 150px;
    }
    .show_more .btn {
        margin-left: 25%
    }
}

@media (max-width: 630px) {
    .projects_blocks {
        grid-gap: 15px;
    }
    .item {
        width: 185px;
        height: 200px
    }
    .a {
        width: 300px;
        height: 200px;
    }
    .item_text {
        padding-top: 120px;
    }
    .show_more .btn {
        margin-left: 22%
    }
}

@media (max-width: 481px) {
    .projects_blocks {
        grid-gap: 10px;
    }
    .item {
        width: 115px;
        height: 150px
    }
    .a {
        width: 220px;
        height: 150px;
    }
    .c {
        width: 135px;
    }
    .item_text {
        padding-top: 90px;
    }
    .item_text h2 {
        font-size: 10px;
    }
    .item_text p {
        font-size: 7px;
    }
    .heading h3{
        font-size: 18px;
        margin-bottom: -40px;
    }
    .show_more button {
        width: 60px;
        height: 60px;
        font-size: 5px;
    }
}