.heading {
    margin-bottom: 67px;
}

.projects_blocks {
    display: grid;
    grid-gap: 60px;
    color: #444;
}

.item {
    width: 500px;
    height: 400px
}

.a {
    grid-column: 1 / 3;
    grid-row: 1;
    background: #000;
    width: 760px;
    height: 400px;
}

.b {
    grid-column: 3;
    grid-row: 3 / 2;
    background: #000;
}

.c {
    grid-column: 2;
    grid-row: 2;
    background: #6002FD;
    width: 455px;
    height: 400px;
}

.d {
    grid-column: 3;
    grid-row: 1;
    background: #6002FD;
}

.heading h3 {
    font-size: 24px;
    color: gray;
}

.item_text {
    color: #fff;
    width: 80%;
    margin: 0 auto;
    padding-top: 250px;
}

.item_text h2 {
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    font-family: "ALS Gorizont Expanded";
}

.projectTitle {
    display: none;
}

.show_more {
    margin-top: 60px;
}

.show_more .btn {
    width: 180px;
    height: 180px;
    border: 1px solid #000;
    border-radius: 100px;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    display: block;
    margin-left: 23%;
}

.show_more_mobile {
    display: none;
}

@media (max-width: 1294px) {
    .item {
        width: 420px;
        height: 350px
    }

    .a {
        width: 570px;
        height: 350px;
    }

    .c {
        width: 342px;
    }

    .item_text {
        padding-top: 220px;
    }

    .show_more .btn {
        width: 160px;
        height: 160px;
        margin-left: 21%;
    }
}

@media (max-width: 800px) {
    .projectCard {
        width: 100%;
        height: 320px;
    }

    .projectTitle {
        display: block;
    }

    .show_more button {
        width: 60px;
        height: 60px;
        font-size: 5px;
    }

    .projectTitleCard {
        width: 90%;
        margin: 0 auto;
        padding-top: 60%;
    }

    .projectTitle h1 {
        font-size: 18px;
        color: gray;
        font-weight: 600;
        line-height: 4;
    }

    .projectTitleCard h2 {
        color: #fff;
        font-size: 17px;
        font-weight: bold;
        font-family: "ALS Gorizont Expanded";
    }

    .projectTitleCard p {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
    }

    .projectTitle {
        margin: 35px 0;
    }

    button.slick-arrow.slick-prev {
        background-image: url("./../../../images/left.svg") !important;
        width: 70px;
        height: 70px;
        position: absolute;
        top: -22%;
        left: 55%;
    }

    .slick-prev:before {
        content: '' !important;
    }

    button.slick-arrow.slick-next {
        background-image: url("./../../../images/right.svg") !important;
        width: 70px;
        height: 70px;
        position: absolute;
        top: -22%;
        left: 79%;
    }

    .slick-next:before {
        content: '' !important;
    }

    .slick-dots li {
        margin: -8px 5px!important;
    }

    .slick-dots li button {
        width: 10px!important;
        height: 10px!important;
        border: 1px solid black!important;
        border-radius: 20px;
    }
    .slick-dots li button:before {
        content: ''!important;
    }
    .slick-dots li.slick-active {
        background: #6002FD;
        width: 11px!important;
        height: 11px!important;
        border-radius: 20px;
    }
    .show_more_mobile {
        display: block;
        margin-top: 80px;
    }
    .show_more_mobile .btn {
        margin-left: 23%;
        width: 180px;
        height: 180px;
        border: 1px solid #000;
        border-radius: 100px;
        font-size: 16px;
        font-weight: bold;
        background: transparent
    }
    .show_more .btn {
        margin-left: 25%
    }
}