.tab {
    margin-top: 50px;
}

.ant-tabs-nav {
    width: 23%;
}

.ant-tabs-tab-btn {
    font-size: 24px;
    color: gray;
}

.ant-tabs-tab {
    padding: 0 !important
}

div#rc-tabs-0-panel-1 {
    padding: 0;
}

.ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
    display: none;
}

.ant-tabs-content-holder {
    border-left: none !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #6002FD;
}

.table_row {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000;
}

.table_row:last-of-type {
    border-bottom: 1px solid #000!important;
}

.table_row_text h6{
    width: 500px;
    font-size: 32px;
    margin-top: 15px;
}

.table_row_time p {
    font-size: 18px;
    margin-top: 22px;
}

.table_row_icon img {
    margin-top: 5px;
    width: 58px;
}

.tab_table_text p {
    font-size: 24px;
    width: 60%;
    margin-bottom: 68px;
}

.table_row_red {
    color: #EB5757;
    font-size: 18px;
    margin-top: 6%;
    margin-left: 69%;
}

.tab_btn {
    margin: -1% 23% 2%;
}

@media (max-width: 1294px) {
    .ant-tabs-tab-btn {
        font-size: 17px;
    }

    .tab_table_text p {
        font-size: 20px;
    }
    .table_row_text {
        width: 47%;
        font-size: 27px;
        margin-top: 15px;
    }
    .table_row_icon img {
        width: 65px
    }
    .table_row_red {
        font-size: 16px;
        margin-left: 66%;
    }
}

@media (max-width: 1025px) {
    .ant-tabs-nav {
        width: 30%;
    }

    .ant-tabs-tab-btn {
        font-size: 15px!important;
    }

    .tab_table_text p {
        font-size: 17px!important;
    }
    .table_row_text {
        width: 47%;
        font-size: 20px;
        margin-top: 15px;
    }
    .table_row_icon img {
        width: 40px;
        margin-top: 6px;
    }
    .table_row_red {
        font-size: 13px;
        margin-left: 63%;
    }
    .table_row_time p {
        font-size: 14px;
        margin-top: 20px;
        font-weight: 600;
    }
    .tab_table_text p {
        margin-bottom: 40px;
    }
}

@media (max-width: 481px) {
    .tab_btn {
        margin: 10% 23% 2%;
    }
    .ant-tabs {
        display: block;
    }
    .ant-tabs-tab {
        color: #000!important;
        width: auto;
        height: 43px;
        border: 1px solid black;
        border-radius: 20px;
        padding: 4px 10px!important;
        margin: 0 0 30px!important
    }
    .ant-tabs-nav-list {
        display: flex;
        justify-content: space-between;
        flex-direction: row!important
    }
    .ant-tabs-nav {
        width: 100%;
    }
    div#rc-tabs-0-panel-1,
    div#rc-tabs-0-panel-2,
    div#rc-tabs-0-panel-3 {
        padding-left: 1px;
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: #fff!important;
        font-weight: bold;
    }
    .tab_table_text p {
        font-size: 16px!important;
        width: 100%;
    }
    .ant-tabs-tab-btn {
        font-size: 12px!important;
        font-weight: bold;
        color: #000;
    }
    .ant-tabs-tab.ant-tabs-tab-active{
        background: #6002FD;
        border: 1px solid #6002FD;
    }
    .table_row_text h6 {
        font-size: 18px;
        font-weight: 400!important;
    }
    .table_row_text {
        margin: 0 0 30px;
        width: 90%;
    }
    .table_row_time {
        position: absolute;
        width: 40%;
        margin-top: 30px;
        font-size: 14px;
        font-weight: bold;
    }
    .table_row_icon img {
        margin-top: 24px
    }
    .table_row_red {
        font-size: 16px;
        margin-left: 45%;
    }
    @media not all and (min-resolution:.001dpcm) { @media {
        .ant-tabs-tab {
            padding: 4px 5px!important;
        }
    }}
}