.tab {
    margin-top: 50px;
}
.ant-tabs-nav {
    width: 23%;
}
.ant-tabs-content {
    margin-left: 30px;
}
.ant-tabs-tab-btn {
    font-size: 24px;
    color: gray;
}
.ant-tabs-tab {
    padding: 0 !important
}
div#rc-tabs-0-panel-1 {
    padding: 0;
}
.ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
    display: none;
}
.ant-tabs-content-holder {
    border-left: none !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #6002FD;
}
.table_row {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000;
}
.table_row:hover {
    background: #6002FD;
    color: #fff!important;
}
.askAnswerItem:last-of-type {
    border-bottom: 1px solid #000!important;
}
.table_row_text p{
    font-size: 32px;
    font-weight: 400!important;
    margin-top: 28px;
    width: 550px;
}
.table_row_time p {
    font-size: 18px;
    margin-top: 42px;
}
.table_row_icon img {
    margin: 15px 23px
}
.table_row .arrowWhite {
    display: none;
}
.table_row:hover img {
    display: none;
}
.table_row:hover .arrowWhite {
    display: initial;
}
.tab_table_text p {
    font-size: 24px;
    width: 60%;
    margin-bottom: 72px;
}
.table_row_red {
    display: flex;
    float: right;
    margin-top: 35px;
}
.table_row_red p {
    width: 180px;
    color: #EB5757;
    margin: 0 30px 0 70px;
    font-size: 18px;
}
.without_dev, .with_dev {
    display: flex;
}
.without_dev p, .with_dev p {
    font-size: 18px;
    color: #000;
    opacity: 0.5;
    width: 200px;
}
.without_dev h6, .with_dev h6 {
    font-size: 18px;
}
.tab_btn {
    margin: -13px 330px;
}
.ant-tabs-left > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
    padding-left: 0;
}

@media (max-width: 1024px) {
    .ant-tabs-nav {
        width: 22%;
    }
    .table_row_text p {
        font-size: 24px;
        width: 470px;
    }
    .tab_table_text p {
        font-size: 18px;
        margin-bottom: 34px;
    }
    .ant-tabs-tab-btn {
        font-size: 18px;
    }
    .table_row_time p {
        font-size: 14px;
    }
    .table_row_icon {
        margin: 5px 30px;
    }
    .without_dev p, .with_dev p {
        font-size: 14px;
        width: 170px;
    }
    .without_dev h6, .with_dev h6 {
        font-size: 14px;
    }
    .table_row_red p {
        font-size: 14px;
        margin: 0 0 0 30px;
    }
    .tab_btn {
        margin: -13px 236px;
    }
}

@media (max-width: 768px) {
    .table_row_text p {
        font-size: 18px;
        width: 350px;
    }
    .tab_table_text p {
        font-size: 16px;
        width: 80%;
    }
    .ant-tabs-tab-btn {
        font-size: 16px;
    }
    .table_row_time p {
        font-size: 14px;
        margin-top: 33px
    }
    .table_row_icon {
        margin: 5px 30px;
    }
    .table_row_icon img {
        width: 40px;
        height: 40px;
        margin: 15px 0;
    }
    .without_dev p, .with_dev p {
        font-size: 14px;
        width: 140px;
    }
    .table_row_red {
        margin-top: 26px;
    }
    .table_row_red p {
        font-size: 12px;
        margin: 0 0 0 30px;
        width: 160px;
    }
    .tab_btn {
        margin: -13px 182px;
    }
    .tab_btn button {
        width: 140px;
        height: 140px;
    }
}

@media (max-width: 600px) {
    .tab_btn {
        margin: 35px 0 0 92px
    }
    .ant-tabs {
        display: block;
    }
    .ant-tabs-tab {
        color: #000!important;
        width: auto;
        height: 43px;
        border: 1px solid black;
        border-radius: 20px;
        padding: 4px 10px!important;
        margin: 0 0 30px!important
    }
    .ant-tabs-nav-list {
        display: flex;
        justify-content: space-between;
        flex-direction: row!important
    }
    .ant-tabs-nav {
        width: 100%;
    }
    div#rc-tabs-0-panel-1,
    div#rc-tabs-0-panel-2,
    div#rc-tabs-0-panel-3 {
        padding-left: 1px;
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: #fff!important;
        font-weight: bold;
    }
    .tab_table_text p {
        font-size: 16px!important;
        width: 100%;
    }
    .ant-tabs-tab-btn {
        font-size: 12px!important;
        font-weight: bold;
        color: #000;
    }
    .ant-tabs-tab.ant-tabs-tab-active{
        background: #6002FD;
        border: 1px solid #6002FD;
    }
    .table_row_text p {
        font-size: 18px;
        font-weight: 400!important;
        margin-top: 16px;
        width: 250px
    }
    .table_row_time {
        position: absolute;
        margin-top: 10px;
    }
    .ant-tabs-content {
        margin-left: 0
    }
    .table_row_red {
        font-size: 16px;
        margin-left: 45%;
        margin-top: 35px;
        display: block;
    }
    .without_dev h6, .with_dev h6 {
        width: 120px;
    }
    .without_dev p,
    .with_dev p {
        width: 200px;
        font-size: 16px;
    }
    .table_row_red p {
        font-size: 14px;
        float: right;
    }
    .tab_btn button {
        width: 160px;
        height: 160px;
    }
    @media not all and (min-resolution:.001dpcm) { @media {
        .ant-tabs-tab {
            padding: 4px 5px!important;
        }
    }}
}