.heading {
    margin-bottom: 67px;
}
.projects_blocks {
    display: grid;
    grid-gap: 60px;
    color: #444;
}
.item {
    width: 99%;
    height: 500px
}
.item_big:hover, .item:hover {
    background: #1B1B1B;
    opacity: 0.7;
}
.item_big:hover .overlay_up,
.item:hover .overlay_up,
.item:hover .overlay_bottom {
    opacity: 1;
}
.overlay_up {
    position: absolute;
    top: 100px;
    opacity: 0;
}
.overlay_bottom {
    position: absolute;
    top: 640px;
    opacity: 0;
}
.item_big .overlay_up h4,
.item.b .overlay_up h4,
.item.c .overlay_bottom h4,
.item.d .overlay_bottom h4 {
    font-size: 54px !important;
    color: #fff;
    margin: 37px 40px;
    width: 100px
}

.item_big .overlay_up img {
    position: absolute;
    top: 320px;
    left: 415px;
}
.item.b .overlay_up img,
.item.c .overlay img {
    position: absolute;
    top: 285px;
    left: 280px;
}
.item.c .overlay_bottom img {
    position: absolute;
    top: 305px;
    left: 210px;
}
.item.d .overlay_bottom img {
    position: absolute;
    top: 341px;
    left: 290px;
}
.a {
    grid-column: 1 / 3;
    grid-row: 1;
    background: #6002FD;
    width: 760px;
    height: 500px;
}
.d {
    grid-column: 3;
    grid-row: 3 / 2;
    background: #6002FD;
}
.c {
    grid-column: 2;
    grid-row: 2;
    background: #1B1B1B;
    width: 430px;
    height: 500px;
}
.b {
    grid-column: 3;
    grid-row: 1;
    background: #1B1B1B;
}
.item_text h5 {
    text-transform: uppercase;
    color: #fff;
}
.item_text p {
    color: #fff;
}
.projectTitle {
    display: none;
}
.show_more {
    margin-top: 80px;
}
.show_more .project_btn {
    margin-left: 330px;
}
.show_more_mobile {
    display: none;
}
.item_big.a img {
    margin-left: 162px;
}
.item.b img,
.item.c img {
    margin: 40px
}
.item.d img {
    margin: 0 30px
}
.item_big.a .item_text {
    margin: -16% 5%
}
.item.b .item_text {
    margin: 25px 44px
}
.item.c .item_text {
    margin: 1% 10%
}
.item.d .item_text {
    margin: 5% 8%
}
@media (max-width: 1300px) {
    .projects_blocks {
        grid-gap: 30px;
    }
    .a {
        width: 550px;
        height: 450px;
    }
    .d, .b {
        width: 400px;
        height: 450px;
    }
    .c {
        width: 300px;
        height: 450px;
    }
    .item_big.a img {
        margin-left: 140px;
        width: 316px;
        height: 450px;
    }
    .item.d img {
        margin-left: 40px;
        width: 382px;
        height: 248px;
    }
    .item.c img {
        margin: 20px 20px;
        width: 262px;
        height: 306px;
    }
    .item.b img {
        margin: 40px;
        width: 335px;
        height: 248px;
    }
    .item_big.a .item_text {
        margin: -21% 5%
    }
    .item.b .item_text {
        margin: 25px 44px
    }
    .item.c .item_text {
        margin: -22% 10% !important
    }
    .item.d .item_text {
        margin: 20% 8% 0
    }
    .show_more .project_btn {
        margin-left: 252px;
    }
    .item_big .overlay_up h4,
    .item.b .overlay_up h4{
        font-size: 42px !important;
        margin: 10px 15px;
        width: 100px;
    }
    .item.c .overlay_bottom h4,
    .item.d .overlay_bottom h4 {
        font-size: 42px !important;
        margin: -40px 15px;
        width: 100px;
    }
    .item_big .overlay_up img {
        top: 165px;
        left: 260px;
        width: 170px;
    }
    .item.b .overlay_up img {
        top: 225px;
        left: 210px;
        width: 170px;
    }
    .item.c .overlay_bottom img {
        width: 130px;
        top: 172px;
        left: 165px;
    }
    .item.d .overlay_bottom img {
        width: 170px;
        top: 205px;
        left: 211px;
    }
}

@media (max-width: 1160px) {
    .projects_blocks {
        grid-gap: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .item_big, .item {
        width: 49%;
        height: 400px;
    }
    .item_big.a img {
        margin-left: 73px;
        width: 316px;
        height: 400px;
    }
    .item.d img {
        margin-left: 40px;
        width: 382px;
        height: 248px;
    }
    .item.c img {
        margin: 40px 40px;
        width: 382px;
        height: 306px;
    }
    .item.b img {
        margin: 40px;
        width: 382px;
        height: 248px;
    }
    .c, .d {
        margin-top: 20px;
    }
    .item_big.a .item_text {
        margin: -21% 3%
    }
    .item.b .item_text {
        margin: 0 17px
    }
    .item.c .item_text {
        margin: -16% 3%!important;
    }
    .item.d .item_text {
        margin: 66px 0 0 17px
    }
    .overlay_bottom {
        top: 520px;
    }
    .item_big .overlay_up h4,
    .item.b .overlay_up h4,
    .item.c .overlay_bottom h4,
    .item.d .overlay_bottom h4 {
        font-size: 36px !important;
        margin: 10px 15px;
        width: 100px;
    }
    .show_more .project_btn {
        margin-left: 0
    }
    .show_more {
        margin-top: 40px;
        text-align: center;
    }
    .block_text p {
        font-size: 18px!important;
        width: 472px;
    }
    .item_big .overlay_up img {
        top: 130px;
        left: 235px;
        width: 170px;
    }
    .item.b .overlay_up img {
        top: 166px;
        left: 273px;
        width: 170px;
    }
    .item.c .overlay_bottom img {
        width: 170px;
        top: 135px;
        left: 270px;
    }
    .item.d .overlay_bottom img {
        width: 170px;
        top: 205px;
        left: 270px;
    }
}

@media (max-width: 900px) {
    .projects_block .heading {
        margin: -20px 0 36px 0;
    }
    .item_big, .item {
        width: 49%;
        height: 300px;
    }
    .item_big.a img {
        margin-left: 59px;
        width: 322px;
        height: 300px;
    }
    .item.d img {
        margin-left: 76px;
        width: 254px;
        height: 206px;
    }
    .item.c img {
        margin: 20px;
        width: 310px;
        height: 248px;
    }
    .item.b img {
        margin: 20px;
        width: 310px;
        height: 202px;
    }
    .item_big .overlay_up h4,
    .item.b .overlay_up h4,
    .item.c .overlay_bottom h4,
    .item.d .overlay_bottom h4 {
        font-size: 24px!important;
        margin: -40px 15px;
    }
    .item_big.a .item_text {
        margin: -24% 3%
    }
    .item.b .item_text {
        margin: -6px 17px
    }
    .item.c .item_text {
        margin: -20% 3%!important;
    }
    .item.d .item_text {
        margin: 33px 0 0 17px
    }
    .item_big .overlay_up img {
        top: 55px;
        left: 204px;
        width: 100px;
    }
    .item.b .overlay_up img {
        top: 76px;
        left: 236px;
        width: 100px;
    }
    .item.c .overlay_bottom img {
        width: 100px;
        top: 64px;
        left: 240px;
    }
    .item.d .overlay_bottom img {
        width: 100px;
        top: 105px;
        left: 185px;
    }
    .overlay_bottom {
        top: 414px;
    }
}

@media (max-width: 800px) {
    .projects_blocks {
        display: grid;
        grid-gap: 20px;
    }

    .projectCard {
        width: 97% !important;
        height: 320px;
    }

    .projectTitleCard {
        width: 90%;
        margin: 0 auto;
        padding-top: 60%;
    }

    .projectTitle h1 {
        font-size: 18px;
        color: gray;
        font-weight: 600;
        line-height: 4;
    }

    .projectTitleCard h2 {
        color: #fff;
        font-size: 17px;
        font-weight: bold;
    }

    .projectTitleCard p {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
    }

    .projectTitle {
        margin: 55px 0;
    }

    /*button.slick-arrow.slick-prev {*/
    /*    background-image: url("../../../../images/left.svg") !important;*/
    /*    width: 70px;*/
    /*    height: 70px;*/
    /*    position: absolute;*/
    /*    top: -22%;*/
    /*    left: 55%;*/
    /*    margin-top: -66px;*/
    /*}*/

    .slick-prev:before {
        content: '' !important;
    }

    /*button.slick-arrow.slick-next {*/
    /*    background-image: url("../../../../images/right.svg") !important;*/
    /*    width: 70px;*/
    /*    height: 70px;*/
    /*    position: absolute;*/
    /*    top: -22%;*/
    /*    left: 79%;*/
    /*    margin-top: -66px;*/
    /*}*/

    .slick-next:before {
        content: '' !important;
    }

    .slick-dots {
        bottom: -370px;
    }

    .slick-list {
        width: 100% !important;
    }

    .slick-dots li {
        margin: -8px 5px !important;
    }

    .slick-dots li button {
        width: 10px !important;
        height: 10px !important;
        border: 1px solid black !important;
        border-radius: 20px;
    }

    .slick-dots li button:before {
        content: '' !important;
    }

    .slick-dots li.slick-active {
        background: #6002FD;
        width: 11px !important;
        height: 11px !important;
        border-radius: 20px;
    }

    .show_more .btn {
        margin-left: 25%
    }
}

@media (max-width: 700px) {
    .show_more_mobile {
        display: block;
        text-align: center;
    }
    .show_more_mobile .btn {
        margin-top: 80px;
    }
}