.heading {
    margin-bottom: 67px;
}
.projects_blocks {
    display: grid;
    grid-gap: 60px;
    color: #444;
}
.item {
    width: 99%;
    height: 500px
}
.a {
    grid-column: 1 / 3;
    grid-row: 1;
    background: #6002FD;
    width: 760px;
    height: 500px;
}
.d {
    grid-column: 3;
    grid-row: 3 / 2;
    background: #6002FD;
}
.c {
    grid-column: 2;
    grid-row: 2;
    background: #1B1B1B;
    width: 430px;
    height: 500px;
}
.b {
    grid-column: 3;
    grid-row: 1;
    background: #1B1B1B;
}
.item_text h5 {
    text-transform: uppercase;
    color: #fff;
}
.item_text p {
    color: #fff;
}
.projectTitle {
    display: none;
}
.show_more {
    margin-top: 80px;
}
.show_more .project_btn {
    margin-left: 330px;
}
.show_more_mobile {
    display: none;
}
.item_big.a .caseImg {
    margin-left: 162px;
}
.item.b .caseImg,
.item.c .caseImg {
    margin: 40px
}
.item.d .caseImg {
    margin: 0 30px
}
.item_big.a .item_text {
    margin: -16% 5%
}
.item.b .item_text {
    margin: 25px 44px
}
.item.c .item_text {
    margin: 1% 10%
}
.item.d .item_text {
    margin: 5% 8%
}
.projectCard {
    position: relative;
    height: 500px;
    width: 100%;
}
.projectCard a:hover {
    background-color: rgba(29, 29, 31, 0.8);
}
.projectCard a:hover .overlay-project{
    opacity: 1;
}

.overlay-project {
    opacity: 0;
}
.overlay-project h4 {
    color: #fff;
    font-size: 54px;
    width: 300px;
    margin: 37px 40px;
}
.overlay-project img{
    float: right;
    margin-top: 60px;
}
@media (max-width: 1300px) {
    .projects_blocks {
        grid-gap: 30px;
    }
    .a {
        width: 550px;
        height: 480px;
    }
    .d, .b {
        width: 400px;
        height: 480px;
    }
    .c {
        width: 300px;
        height: 480px;
    }
    .item_big.a .caseImg {
        margin-left: 140px;
        width: 316px;
        height: 450px;
    }
    .item.d .caseImg {
        margin-left: 40px;
        width: 382px;
        height: 248px;
    }
    .item.c .caseImg {
        margin: 20px 20px;
        width: 262px;
        height: 306px;
    }
    .item.b .caseImg {
        margin: 40px;
        width: 335px;
        height: 248px;
    }
    .item_big.a .item_text {
        margin: -21% 5%
    }
    .item.b .item_text {
        margin: 25px 44px
    }
    .item.c .item_text {
        margin: -22% 10% !important
    }
    .item.d .item_text {
        margin: 20% 8% 0
    }
    .show_more .project_btn {
        margin-left: 252px;
    }
    .projectCard {
        height: 480px;
    }
    .overlay-project h4 {
        font-size: 38px;
    }
    .overlay-project img{
        margin-top: 96px;
    }
}

@media (max-width: 1160px) {
    .projects_blocks {
        grid-gap: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .item_big, .item {
        width: 49%;
        height: 400px;
    }
    .item_big.a .caseImg {
        margin-left: 73px;
        width: 316px;
        height: 400px;
    }
    .item.d .caseImg {
        margin-left: 40px;
        width: 382px;
        height: 248px;
    }
    .item.c .caseImg {
        margin: 40px 40px;
        width: 382px;
        height: 306px;
    }
    .item.b .caseImg {
        margin: 40px;
        width: 382px;
        height: 248px;
    }
    .c, .d {
        margin-top: 20px;
    }
    .item_big.a .item_text {
        margin: -21% 3%
    }
    .item.b .item_text {
        margin: 0 17px
    }
    .item.c .item_text {
        margin: -16% 3%!important;
    }
    .item.d .item_text {
        margin: 66px 0 0 17px
    }
    .projectCard {
        height: 400px;
    }
    .overlay-project img{
        margin-top: 60px;
        width: 150px;
    }
}

@media (max-width: 900px) {
    .projects_block .heading {
        margin: -20px 0 36px 0;
    }
    .item_big, .item {
        width: 49%;
        height: 300px;
    }
    .item_big.a .caseImg {
        margin-left: 59px;
        width: 322px;
        height: 300px;
    }
    .item.d .caseImg {
        margin-left: 76px;
        width: 254px;
        height: 206px;
    }
    .item.c .caseImg {
        margin: 20px;
        width: 310px;
        height: 248px;
    }
    .item.b .caseImg {
        margin: 20px;
        width: 310px;
        height: 202px;
    }
    .item_big.a .item_text {
        margin: -24% 3%
    }
    .item.b .item_text {
        margin: -6px 17px
    }
    .item.c .item_text {
        margin: -20% 3%!important;
    }
    .item.d .item_text {
        margin: 33px 0 0 17px
    }
    .projectCard {
        height: 300px;
    }
    .overlay-project h4 {
        font-size: 24px;
        width: 200px;
    }
    .overlay-project img{
        margin-top: 50px;
        width: 100px;
    }
}

@media (max-width: 800px) {
    .projects_blocks {
        display: grid;
        grid-gap: 20px;
    }
    .projectCard {
        width: 97% !important;
        height: 320px;
    }

    .projectTitleCard {
        width: 90%;
        margin: 0 auto;
        padding-top: 60%;
    }

    .projectTitle h1 {
        font-size: 18px;
        color: gray;
        font-weight: 600;
        line-height: 4;
    }

    .projectTitleCard h2 {
        color: #fff;
        font-size: 17px;
        font-weight: bold;
    }

    .projectTitleCard p {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
    }

    .projectTitle {
        margin: 55px 0;
    }

    /*button.slick-arrow.slick-prev {*/
    /*    background-image: url("../../../../images/left.svg") !important;*/
    /*    width: 70px;*/
    /*    height: 70px;*/
    /*    position: absolute;*/
    /*    top: -22%;*/
    /*    left: 55%;*/
    /*    margin-top: -66px;*/
    /*}*/

    .slick-prev:before {
        content: '' !important;
    }

    /*button.slick-arrow.slick-next {*/
    /*    background-image: url("../../../../images/right.svg") !important;*/
    /*    width: 70px;*/
    /*    height: 70px;*/
    /*    position: absolute;*/
    /*    top: -22%;*/
    /*    left: 79%;*/
    /*    margin-top: -66px;*/
    /*}*/

    .slick-next:before {
        content: '' !important;
    }

    .slick-dots {
        bottom: -370px;
    }

    .slick-list {
        width: 100% !important;
    }

    .slick-dots li {
        margin: -8px 5px !important;
    }

    .slick-dots li button {
        width: 10px !important;
        height: 10px !important;
        border: 1px solid black !important;
        border-radius: 20px;
    }

    .slick-dots li button:before {
        content: '' !important;
    }

    .slick-dots li.slick-active {
        background: #6002FD;
        width: 11px !important;
        height: 11px !important;
        border-radius: 20px;
    }

    .show_more .btn {
        margin-left: 25%
    }
}

@media (max-width: 700px) {
    .show_more_mobile {
        display: block;
        text-align: center;
    }
    .show_more_mobile .btn {
        margin-top: 80px;
    }
}