.App {
    font-family: 'Manrope', sans-serif;
    overflow-x: hidden!important;
}
.wrapper {
    width: 1320px;
    margin: 0 auto;
    position: relative;
    display: flow-root  ;
    min-height: auto;
}
h1 {
    font-size: 64px;
    font-family: "ALS Gorizont Bold Expanded";
    text-transform: uppercase;
    text-align: left;
    line-height: 1.2;
}
h2 {
    font-size: 64px;
    line-height: 1  ;
    font-family: 'ALS Gorizont Bold Expanded';
    text-transform: uppercase;
    margin-left: 25%;
    width: 41%;
}
h3 {
    font-size: 24px;
    color: #000;
    opacity: 0.3;
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
}
h4 {
    font-size: 30px;
    font-weight: bold;
    font-family: "ALS Gorizont Bold Expanded";
    color: #6002FD;
}
h5 {
    font-size: 18px;
    font-weight: 700;
    font-family: "ALS Gorizont Bold Expanded";
}
h6 {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Manrope', sans-serif;
}
p {
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
}
button {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    border-radius: 100px;
    font-size: 16px!important;
    background: transparent;
    font-weight: 700!important;
    font-family: 'Manrope', sans-serif;
}
button:hover{
    color: #fff;
    background-color: #6002FD!important;
    border-color: #6002FD!important;
    cursor: pointer;
}

@media (max-width: 1440px) {
    .wrapper {
        width: 1280px;
    }
}

@media (max-width: 1300px) {
    .wrapper {
        width: 1020px!important;
    }
}

@media (max-width: 1024px) {
    .wrapper {
        width: 890px!important;
    }
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 48px;
    }
    h3 {
        font-size: 18px
    }
    h4 {
        font-size: 24px
    }
    h5 {
        font-size: 16px
    }
    p {
        font-size: 14px;
    }
    button {
        width: 180px;
        height: 180px;
    }
}

@media (max-width: 900px) {
    .wrapper {
        width: 780px!important;
    }
    button {
        width: 160px;
        height: 160px;
        border: 1px solid #000;
        border-radius: 100px;
        font-size: 14px!important;
        background: transparent;
        font-weight: 700;
        font-family: 'Manrope', sans-serif;
    }
}

@media (max-width: 800px) {
    .wrapper {
        width: 680px!important;
    }
    p {
        font-size: 12px;
    }
    h2 {
        font-size: 36px
    }
    h3 {
        font-size: 16px
    }
    h4 {
        font-size: 18px
    }
}

@media (max-width: 700px) {
    .wrapper {
        width: 580px!important;
    }
    p {
        font-size: 12px;
    }
    h2 {
        font-size: 36px
    }
    h3 {
        font-size: 16px
    }
    h4 {
        font-size: 18px
    }
}

@media (max-width: 600px) {
    .wrapper {
        width: 420px!important;
    }
}

@media (max-width: 500px) {
    .wrapper {
        width: 320px!important;
        margin: 0 auto;
    }
    h1 {
        font-size: 30px
    }
    h2 {
        font-size: 30px
    }
    h3 {
        font-size: 18px;
        font-weight: 700!important;
    }
    h4 {
        font-size: 18px
    }
    h6{
        font-size: 14px;
        font-weight: 600!important;
    }
    p {
        font-size: 14px
    }
}

