.ask {
    margin-top: 194px;
}

.askAnswer {
    width: 75%;
    float: right;
    margin-top: 30px;
}

.askAnswerBlock {
    display: none;
}

.askAnswerBlock.show {
    display: block;
    width: 75%;
    margin: 15px auto;
    font-size: 17px;
}

.askButtonAnswer p {
    font-size: 32px;
}

.askAnswerBlock.show p {
    width: 440px;
    margin-left: 205px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #6002FD;
}

.askButtonAnswer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    background: none;
    border-top: 1px solid #000;
    line-height: 3;
}

.askButtonAnswer:hover{
    color: #fff;
    background-color: #6002FD;
}

.askAnswerIcon {
    background-image:url('../../../../images/Down.svg');
    width: 78px;
    margin: 21px 0;
}
.askAnswerIcon:hover {
    background-image:url('../../../../images/down-white.svg');
    width: 78px;
    margin: 10px 0
}

.askAnswer:last-of-type {
    border-bottom: 1px solid #000C !important;
}

@media (max-width: 1294px) {
    .askAnswer {
        width: 78%
    }

    .askButtonAnswer {
        font-size: 27px;
        line-height: 3;
    }

    .askButtonAnswer img {
        margin: 13px 0;
    }
}

@media (max-width: 1025px) {
    .askButtonAnswer {
        font-size: 20px;
    }

    .askButtonAnswer img {
        margin: 13px 0;
        width: 40px;
    }
}


@media (max-width: 600px) {
    .ask {
        margin-top: 30%;
    }

    .askAnswer {
        width: 100%;
        margin-top: 20px;
    }

    .askButtonAnswer p{
        font-size: 18px;
        line-height: 1.3;
        padding: 10px 0;
        font-weight: 400;
    }
    .question {
        width: 500px;
    }

    .askButtonAnswer img {
        margin: 10px 0;
        width: 30px;
    }

    .ask h2 {
        margin: 0 !important;
    }

    .askAnswerIcon {
        background-image:url('../../../../images/down-small.svg');
        background-repeat: no-repeat;
    }
    .askAnswerBlock.show p {
        width: 240px;
        margin-left: 50px;
    }
}